header {
    grid-area: header;
    background-color: #212121;
    color: white;
    font-family: roboto, sans-serif;
    padding: 20px;
}

.menu-active {
    font-weight: bold;
    font-style: italic;
}