main {
    grid-area: main;
    font-family: roboto, sans-serif;
    background-color: #ebebeb;
    color: #212121;
    padding: 20px;
}

h1 {
    font-size: xx-large;
    font-family: Roboto Condensed, sans-serif;
}

section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.section-active > h1 {
    font-weight: bold;
}