/* Content */
@import "./header.css";
@import "./main.css";
@import "./footer.css";

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas:
    "main"
    "footer";
}